.Controls {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px solid #afc3d4;
}

.Controls * {
  margin: 0 10px;
}

.Button {
  padding: 8px 12px;
  border: 1px solid #41688a;
  border-radius: 18px;
  outline: none;
  font-size: 14px;
  background: #03a9f4;
  color: #fff;
  cursor: pointer;
  min-width: 65px;
}
